*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(29, 29, 29);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
ul{
    list-style-type: none;
    display: flex;
    
}
ul li{
    color: white;
    padding: 0 26px;
    font-size: 36px;
    border-top: 0px solid white;
    transform: scale(0);
    transition:all 1s;
    transform-origin: left;
}
ul li:hover{
    border-top: 2px solid white;
    transform: scaleX(1);}