body{
    margin:0;
    padding:0;
    background-color: gray;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
.flex2 {
position: relative;
width: 800px;
height: 500px;
background-color: rgb(148, 148, 148);
justify-content: center;

}
